#   ====================================================================================
#       EXEMPLO DE CONTEÚDO PARA CONFIGURAÇÃO DA APPLICATION PARA A DB DENTRO DA .ENV
#   ====================================================================================
# Configurações do Banco de Dados para Produção/Homologação

DB_URL=jdbc:postgresql://localhost:5432/starage_db
DB_USER=starage_user
DB_PASSWORD=sua_senha__aqui